<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body class="yellow lighten-5">
    <%- include('partials/header.ejs') %>

    <div class="container section">
        <h3 class="section brown-text center">Oops! an error occured :)</h3>
        <hr>
        <div class="section ">
            <h5 class=" section red-text container center">
                You need to log in before you can make a post
            </h5>
        </div>
        
    </div>

</body>
</html>